<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{server}}</title>
</head>
<div class="center">
 <div class="inline">
<svg width="204" height="204" viewBox="0 0 204 204" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d_0_1)">
<circle cx="102" cy="102" r="94" fill="#2E2E2E"/>
<circle cx="102" cy="102" r="92" stroke="white" stroke-width="4"/>
</g>
<path d="M51 113.5C60.1667 123.5 81 141 81 141L152.5 66" stroke="#007413" stroke-width="20" stroke-linecap="round"/>
<defs>
<filter id="filter0_d_0_1" x="4" y="8" width="196" height="196" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="2"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
</filter>
</defs>
</svg>
 <h2>Well Done! You can expect updates in your dms</h2>
</div>
</div>
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body, html {
  background-color: #1A1A1A;
  font-family: Arial, sans-serif;
}
h2 {
  color: white;
}
svg {
  justify-self: center;
}
.inline {
  display: inline-grid;
}
</style>
</html>
